<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.shop.mapper.MemberMapper">
	<select id="useridChk" resultType="string">
		select count(*) from member where userid=#{userid}
	</select>
	<insert id="memberOk">
		insert into member (userid, name, pwd, email, phone, writeday)
		values (#{userid},#{name},#{pwd},#{email},#{phone},now())
	</insert>
	<select id="getProduct" resultType="Hashmap">
		select * from product
		where pcode=#{pcode}
	</select>
	<select id="cartView" resultType="Hashmap" >
		select p.*,c.su as cart_su, datediff(now(),c.writeday) as days 
		from product p inner join cart c
		on p.pcode=c.pcode where c.userid=#{userid} order by c.writeday desc
	</select>
	<select id="cartDel">
		delete from cart where
		userid=#{userid} and
		pcode=#{pcode}
	</select>
</mapper>