<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.shop.mapper.MemberMapper">
	<select id="useridChk" resultType="string">
		select count(*) from member where userid=#{userid}
	</select>
	<insert id="memberOk">
		insert into member (userid, name, pwd, email, phone, writeday)
		values (#{userid},#{name},#{pwd},#{email},#{phone},now())
	</insert>
	<select id="getProduct" resultType="Hashmap">
		select * from product
		where pcode=#{pcode}
	</select>
	<select id="cartView" resultType="Hashmap" >
		select p.*,c.su as cart_su, datediff(now(),c.writeday) as days 
		from product p inner join cart c
		on p.pcode=c.pcode where c.userid=#{userid} order by c.writeday desc
	</select>
	<select id="cartDel">
		delete from cart where
		userid=#{userid} and
		pcode=#{pcode}
	</select>
	<update id="chgSu">
		update cart set su=#{su} where pcode=#{pcode} and userid=#{userid}
	</update>
	<select id="jjimList" resultType="kr.co.shop.dto.ProductDTO">
		select product.* from product inner join jjim
		on product.pcode=jjim.pcode and userid=#{userid}
	</select>
	<insert id="addCart">
		insert into cart (userid, pcode, su, writeday)
		values (#{userid},#{pcode},1,now())
	</insert>
	<select id="isCart" resultType="boolean">
		select count(*) from cart
		where userid=#{userid} and pcode=#{pcode} 
	</select>
	<delete id="jjimDel">
		delete from jjim where userid=#{userid} and pcode=#{pcode}
	</delete>
	<select id="jumunList" resultType="Hashmap">
		select p.title, p.pimg, b.name, b.juso, g.chongPrice,
		g.state, g.su, g.useJuk,g.sudan,g.writeday, p.price,g.id,p.pcode
		,g.isReview
		from gumae g inner join product p on g.pcode=p.pcode
		inner join baesong b on g.baeId=b.id
		where g.userid=#{userid}
		<if test="month>1">
		and <![CDATA[ g.writeday >= (now()-interval ${month} month)]]> 
		</if>
		<if test="month==-1">
		and <![CDATA[ g.writeday >= #{start} and g.writeday <= #{end} ]]>
		</if>
		order by g.id desc
	</select>
	<update id="chgState">
		update gumae set state=#{state}
		where id=#{id}
	</update>
	<insert id="reviewOk">
		insert into review (star, content, oneLine, userid, pcode, writeday)
		values (#{star},#{content},#{oneLine},#{userid},#{pcode},now())
	</insert>
	<select id="getReviewAvg" resultType="double">
		select avg(star) from review
		where pcode=#{pcode}
	</select>
	<update id="setProduct">
		update product set star=#{star}, review=review+1
		where pcode=#{pcode}
	</update>
	<update id="chgIsReview">
		update gumae set isReview=1
		where id=#{id}
	</update>
</mapper>