<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.shop.mapper.ProductMapper">
	<select id="list" resultType="kr.co.shop.dto.ProductDTO">
		select * from product where 
		pcode like concat(#{pcode},'%')
		order by ${order} limit #{index},20
	</select>
	<select id="getDaeName" resultType="string">
		select name from dae
		where code=#{code}
	</select>
	<select id="getJungName" resultType="string">
		select name from jung
		where code=#{code} and daecode=#{daecode}
	</select>
	<select id="getSoName" resultType="string">
		select name from so
		where code=#{code} and daejung=#{daejung}
	</select>
	<select id="getChong" resultType="int">
		select ceil(count(*)/20) from product where pcode like
		concat(#{pcode},'%')
	</select>
	<select id="content" resultType="kr.co.shop.dto.ProductDTO">
		select * from product where pcode=#{pcode}
	</select>
	<insert id="jjimOk">
		insert into jjim (userid,pcode,writeday)
		values (#{userid},#{pcode},now())
	</insert>
	<delete id="jjimDel">
		delete from jjim where pcode=#{pcode} and userid=#{userid}
	</delete>
	<select id="jjimChk" resultType="int">
		select count(*) from jjim where pcode=#{pcode} and userid=#{userid}
	</select>
	<insert id="addCart">
		insert into cart (userid, pcode, su, writeday)
		values (#{userid},#{pcode},#{su},now())
	</insert>
	<select id="isCart" resultType="Boolean">
		select count(*) from cart 
		where userid=#{userid} and pcode=#{pcode} 
	</select>
	<update id="upCart">
		update cart set su=su+#{su}
		where userid=#{userid} and pcode=#{pcode}
	</update>
	<select id="getCartNum" resultType="string">
		select count(*) from cart
		where userid=#{userid}
	</select>
	<select id="getMember" resultType="kr.co.shop.dto.MemberDTO">
		select * from member where userid=#{userid}
	</select>
	<select id="getBaesong" resultType="kr.co.shop.dto.BaesongDTO">
		select * from baesong
		where userid=#{userid} and gibon=1
	</select>
	<insert id="jusoWriteOk">
		insert into baesong (userid,name,zip,juso,jusoEtc,phone,gibon,req)
		values (#{userid},#{name},#{zip},#{juso},#{jusoEtc},#{phone},#{gibon},#{req})
	</insert>
	<select id="jusoList" resultType="kr.co.shop.dto.BaesongDTO">
		select * from baesong 
		where userid=#{userid}
		order by gibon desc
	</select>
	<update id="gibonInit">
		update baesong set gibon=0
		where userid=#{userid}
	</update>
	<select id="getJuk" resultType="int">
		select juk from member
		where userid=#{userid}
	</select>
	<update id="chgPhone">
		update member set phone=#{phone} where userid=#{userid}
	</update>
	<delete id='jusoDel'>
		delete from baesong where id=#{id}
	</delete>
	<select id="jusoUpdate" resultType="kr.co.shop.dto.BaesongDTO">
		select * from baesong where id=#{id}
	</select>
	<update id="jusoUpdateOk">
		update baesong set name=#{name}, zip=#{zip}, juso=#{juso}, jusoEtc=#{jusoEtc},
		phone=#{phone}, req=#{req}, gibon=#{gibon} where id=#{id}
	</update>
	<select id="getBaeId" resultType="int">
		select id from baesong
		where userid=#{userid}
		order by id desc limit 1	
	</select>
	<select id="getJumuncode" resultType="int">
		select ifnull(max(right(jumuncode,3)),0)+1 
		from gumae where jumuncode like concat(#{jumuncode},'%')
	</select>
	<insert id="gumaeOk">
		insert into gumae
		(userid,baeId,pcode,su,useJuk,chongPrice,sudan,card,halbu,bank,lcard,tong,nbank,jumuncode,writeday)
		values (#{userid},#{baeId},#{pcode},#{su},#{useJuk},#{chongPrice},#{sudan},#{card}
		,#{halbu},#{bank},#{lcard},#{tong},#{nbank},#{jumuncode},now())
	</insert>
	<update id="useJuk">
		update member set juk=juk-#{useJuk} where userid=#{userid}
	</update>

</mapper>